<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>딸기</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='css/highcharts.css')}}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <script src="{{ url_for('static', filename='js/highcharts.js')}}"></script>
        <script src="{{ url_for('static', filename='js/highcharts-3d.js')}}"></script>
        <script src="{{ url_for('static', filename='js/exporting.js')}}"></script>
        <script src="{{ url_for('static', filename='js/export-data.js')}}"></script>
        <script src="{{ url_for('static', filename='js/accessibility.js')}}"></script>
        <script src="{{ url_for('static', filename='js/data.js')}}"></script>
        <script src="{{ url_for('static', filename='js/series-label.js')}}"></script>
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" >초보농부 나만 믿어!</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <form action="/"><input class="nav-link" type="submit" value="Home" name="action"/></form>
                            </li>
                            <li class="nav-item">
                                <form action="/about"><input class="nav-link" type="submit" value="About" name="action"/></form>
                            </li>
                            <li class="nav-item">
                                <form action="/market"><input class="nav-link" type="submit" value="Market" name="action"/></form>
                            </li>
                            <li class="nav-item">
                                <form action="/faq"><input class="nav-link" type="submit" value="FAQ" name="action"/></form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">딸기</h1>
                                <p class="lead fw-normal text-white-50 mb-4">
                                    딸기는 호냉성 열매채소이기 때문에 냉량한 기후에 강합니다. 토양은 배수가 잘되고 수분을 알맞게 지닌 참흙이 좋습니다.<br>
                                    재배 방법은 매년 가을에 새 모종을 심어 1번 수확하는 1년식 재배와, 1번 모종을 심고 수년간 수확을 계속하는 다년식 재배 방법이 있습니다.<br>
                                    1년식 재배는 따뜻한 지방에서 촉성재배 또는 반촉성재배를 할 때 쓰이는 방법으로서 고품질의 과실을 생산할 수 있습니다.<br>
                                    추운 지방에서는 주로 3-4년 수확을 계속하는 다년식 재배방법을 많이 이용하고 있습니다.
                                </p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{{ url_for('static', filename='images/strawberry-removebg.png')}}" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">딸기 재배 Tip!</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                    <h2 class="h5">재배시기</h2>
                                    <p class="mb-0">
                                        촉성 재배의 경우 3월 하순에 육묘를 시작하여 9월에 정식한 후 12월 상순에 수확하는 것이 적절합니다.
                                        <br>반촉성 재배의 경우 4월 중순에 육묘를 시작하여 10월에 정식한 후 1월 하순에 수확하는 것이 적절합니다.                                    
                                    </p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">재배환경</h2>
                                    <p class="mb-0">생육온도 : 발아적온 20℃ / 육묘적온 17~20℃ <br>근비대적온 18℃ / 저장적온 4℃</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">재배적 특성</h2>
                                    <p class="mb-0">
                                        다년생 숙근성 초본으로 수명이 짧아 자주 갱신되며 관부에 생장점이 있습니다.<br>
                                        꽃눈 분화는 17℃정도의 저온과 12시간 정도의 단일에서 일어납니다.<br>
                                        가을에 저온단일이 되면 휴면에 들어가 충분한 저온을 경과하지 않으면 휴면이 타파되지 않습니다.
                                    </p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                    <h2 class="h5">영양 공급</h2>
                                    <p class="mb-0">
                                        적절한 영양 공급은 품질 향상을 위해 필수적입니다. 균형잡힌 작물 영양은 양질의 딸기를 얻기 위해 필요합니다.
                                        <br>모든 영양소는 식물에 필요하지만 칼륨, 칼슘, 붕소는 고품질을 달성하는 데 특히 중요한 역할을 합니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 병충해 -->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">병충해와 방제</h2>
                                <p class="lead fw-normal text-muted mb-5">딸기의 병충해와 이를 위한 방제 대책은?</p>
                                <p class="fst-italic">이미지 클릭 시 방제 방법을 알려주는 영상을 보실 수 있습니다!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{url_for('static', filename='images/탄저병.jpg')}}" height="300px">
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">병해</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="https://www.youtube.com/watch?v=t5NQ5Rb36pk"><h5 class="card-title mb-3">탄저병 증상</h5></a>
                                    <p class="card-text mb-0">
                                        러너와 엽병에 수침상으로 흑변되며, 크라운 부에 침입하면 바깥부분에서 안쪽으로 갈변되고, 드물게 잎에 검은 반점을 형성합니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <div class="card h-100 shadow border-0">
                                    <img class="card-img-top" src="{{url_for('static', filename='images/시들음병.jpg')}}" height="300px">
                                    <div class="card-body p-4">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">병해</div>
                                        <a class="text-decoration-none link-dark stretched-link" href="https://www.youtube.com/watch?v=VbG_KQuYDwU"><h5 class="card-title mb-3">시들음병 증상</h5></a>
                                        <p class="card-text mb-0">새잎이 황록색이 되거나 작아지고, 3장의 소엽 중 한 장의 소엽이 다른 소엽에 비해 작게 돼 짝엽이 되어 나오며, 근관부 엽병이 일부 갈변되어 있거나 포기 전체의 생육이 불량합니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{url_for('static', filename='images/흰가루병.jfif')}}" height="300px">
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">병해</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="https://www.youtube.com/watch?v=jQFfKPGmjOY"><h5 class="card-title mb-3">흰가루병 증상</h5></a>
                                    <p class="card-text mb-0">흰가루병은 딸기 잎에 흰가루 모양의 작은 반점을 형성하며, 꽃망울은 자홍색으로 합니다. 과일에서는 침해된 부분이 생육이 늦어지고 착색이 진행되지 않으며, 하얗게 돼 상품가치가 떨어집니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{url_for('static', filename='images/점박이응애.jfif')}}" height="300px">
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">해충</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="https://www.youtube.com/watch?v=8X9sTUGvKxk"><h5 class="card-title mb-3">점박이응애 특징</h5></a>
                                    <p class="card-text mb-0">밀도가 점차 증가하면 잎 뒷면에서 성충과 약충이 무리지어 가해하기 때문에 잎이 작아지고 기형이 되며, 누렇게 변하면서 점차 말라죽습니다. 보통 아래 잎에 발생이 많으며, 점차 상위 잎으로 이동합니다.<br> 점박이응애는 25~27℃ 전후의 고온으로 강우가 적고 건조한 기상조건에서 10일 전후에 알에서 성충이 되며, 야외에서는 봄부터 초여름 그리고 가을에 발생이 많습니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{url_for('static', filename='images/작은뿌리파리.jfif')}}" height="300px">
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">해충</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="https://www.youtube.com/watch?v=XvfIy5yVXWg"><h5 class="card-title mb-3">작은뿌리파리 특징</h5></a>
                                    <p class="card-text mb-0">작은뿌리파리로 인한 피해는 온실재배 환경에서 많이 발생합니다. 작은뿌리파리 유충은 햇빛을 싫어하고, 수분이 많은 곳을 선호해 작물의 지하부 뿌리와 지제부를 가해합니다. <br>작은뿌리파리에 의해 피해 받은 뿌리는 갈색의 상처가 나며 발달이 불량해지고, 피해 입은 지제부는 수분이나 영양분 이동이 저해돼 생장지연, 시들음 증상을 일으키게 됩니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{{url_for('static', filename='images/잿빛곰팡이병.jpg')}}" height="300px">
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">해충</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="https://www.youtube.com/watch?v=-MKHDm9NuUs"><h5 class="card-title mb-3">잿빛곰팡이병 증상</h5></a>
                                    <p class="card-text mb-0">잿빛곰팡이병은 과실, 꽃받침, 과경, 잎, 엽병 등의 지상부위에 주로 피해가 나타나며, 어린 과실에 침입하면 갈변 또는 흑갈변합니다. <br>
                                        수정 후 꽃잎이 떨어지지 않고 붙어있을 때 꽃받침이 적색의 반점을 형성하며 갈변, 흑갈변하고 부패합니다.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- 그래프 -->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="text-center"><h2 class="fw-bolder">가격 정보와 소비 트렌드</h2></div>
                                <p><br></p>
                                <div class="d-flex align-items-center justify-content-center">
                                    <figure class="highcharts-figure">
                                        <div id="container1"></div>
                                    </figure>
                                    <script src="{{url_for('static', filename='js/strawPrice.js')}}"></script>
                                </div>
                                <p><br></p>
                                <div class="d-flex align-items-center justify-content-center">
                                    <figure class="highcharts-figure">
                                        <div id="container2"></div>
                                    </figure>
                                    <script>
                                        Highcharts.addEvent(Highcharts.Point, 'click', function () {
                                            if (this.series.options.className.indexOf('popup-on-click') !== -1) {
                                            const chart = this.series.chart;
                                            const date = Highcharts.dateFormat('%A, %b %e, %Y', this.x);
                                            const text = `<b>${date}</b><br/>${this.y} ${this.series.name}`;

                                            const anchorX = this.plotX + this.series.xAxis.pos;
                                            const anchorY = this.plotY + this.series.yAxis.pos;
                                            const align = anchorX < chart.chartWidth - 200 ? 'left' : 'right';
                                            const x = align === 'left' ? anchorX + 10 : anchorX - 10;
                                            const y = anchorY - 30;
                                            if (!chart.sticky) {
                                                chart.sticky = chart.renderer
                                                    .label(text, x, y, 'callout',  anchorX, anchorY)
                                                    .attr({
                                                        align,
                                                        fill: 'rgba(0, 0, 0, 0.75)',
                                                        padding: 10,
                                                        zIndex: 7 // Above series, below tooltip
                                                    })
                                                    .css({
                                                        color: 'white'
                                                    })
                                                    .on('click', function () {
                                                        chart.sticky = chart.sticky.destroy();
                                                    })
                                                    .add();
                                            } else {
                                                chart.sticky
                                                    .attr({ align, text })
                                                    .animate({ anchorX, anchorY, x, y }, { duration: 250 });
                                            }
                                        }
                                        });

                                        Highcharts.chart('container2', {

                                            chart: {
                                                scrollablePlotArea: {
                                                    minWidth: 700
                                                }
                                            },

                                            data: {
                                                csvURL: "{{url_for('static', filename='csv/딸기 소비트렌드.csv')}}",
                                                beforeParse: function (csv) {
                                                    return csv.replace(/\n\n/g, '\n');
                                                }
                                            },

                                            title: {
                                                text: '2017년 - 2019년 소비트렌드'
                                            },
                                            subtitle:{
                                                text: '출처: 농사로'
                                            },
                                            xAxis: {
                                                tickInterval: 7 * 30 * 3600 * 1000, // one week
                                                tickWidth: 0,
                                                gridLineWidth: 1,
                                                labels: {
                                                    align: 'left',
                                                    x: 3,
                                                    y: -3
                                                }
                                            },

                                            yAxis: [{ // left y axis
                                                title: {
                                                    text: null
                                                },
                                                labels: {
                                                    align: 'left',
                                                    x: 3,
                                                    y: 16,
                                                    format: '{value:.,0f}'
                                                },
                                                showFirstLabel: false
                                            }, { // right y axis
                                                    linkedTo: 0,
                                                    gridLineWidth: 0,
                                                    opposite: true,
                                                    title: {
                                                        text: null
                                                    },
                                                    labels: {
                                                        align: 'right',
                                                        x: -3,
                                                        y: 16,
                                                        format: '{value:.,0f}'
                                                    },
                                                    showFirstLabel: false
                                            }],

                                            legend: {
                                                align: 'left',
                                                verticalAlign: 'top',
                                                borderWidth: 0
                                            },

                                            tooltip: {
                                                shared: true,
                                                crosshairs: true
                                            },

                                            plotOptions: {
                                                series: {
                                                    cursor: 'pointer',
                                                    className: 'popup-on-click',
                                                    marker: {
                                                        lineWidth: 1
                                                    }
                                                }
                                            },

                                            series: [{
                                                name: 'All sessions',
                                                lineWidth: 4,
                                                marker: {
                                                    radius: 4
                                                }
                                            }, {
                                                name: 'New users'
                                            }]
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; For Farmers 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>
